@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
  position: absolute;
  right: 5rem;
  top: 8.5rem;
	height: 22px;
	width: 45px;

	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0.6px;
	left: 1px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
.fa-moon {
	color: white;
}
.fa-sun {
	color: #f39c12;
  font-size: 12px;

}

@media screen and (max-width:1024px)
{
    .checkbox .label 
  {
    position: absolute;
    right: 2rem;
    top: 4.5rem;
    
  }
}


@media screen and (max-width:768px)
{
    .checkbox .label 
  {
    position: absolute;
    right: 2rem;
    top: 6rem;
    height: 20px;
    width: 42px;
  }
 .label .ball {
    position: absolute;
    top: 0.2px;
    left: 0.8px;
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width:575px)
{
    .label 
  {
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    height: 10px;
    width: 22px;
    
  }
     .label .ball {
    position: absolute;
    top: 0.2px;
    left: 0.6px;
    height: 10px;
    width: 10px;
  }

  .fa-moon
  {
    font-size: 4px;
  }
  .fa-moon, .fa-sun {
    font-size: 8px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(12px);
  }

}


*{ /*universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hindi-heading
{
  font-size: 2.8rem;
}

.english-heading
{
    font-size: 2.4rem;
}

.emblem
{
  position: absolute;
  top: 8%;
  left: 10%;
  width: 150px;
}

@media screen and (max-width:1024px)
{
  .hindi-heading
  {
    font-size: 1.8rem;
  }
  .english-heading
  {
    font-size: 1.4rem;
  }
  .emblem
  {
    width: 90px;
    position: absolute;
    top: 10%;
    left: 8%;
  }
}

@media screen and (max-width:768px)
{
  .hindi-heading
  {
    font-size: 1.8rem;
  }
  .english-heading
  {
    font-size: 1.5rem;
  }
  .emblem
  {
    width: 90px;
    position: absolute;
    top: 10%;
    left: 4%;
  }
}

@media screen and (max-width:575px)
{
  .hindi-heading
  {
    font-size: 1rem;
  }
  .english-heading
  {
    font-size: 0.7rem;
  }
  .emblem
  {
    width: 60px;
    position: absolute;
    top: 8%;
    left: 4%;
  }

}

.main-heading
{
  margin: 0 auto;
}

  
body{
    background: rgb(219, 192, 157);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.imgs:hover{
    color: #e90fc4;
    background-color: #f3aa21;
    box-shadow: 0 0 10px #f3aa21, 0 0 40px #f3aa21, 0 0 80px #f3aa21;
    transition-delay: 1s;
   
    
  }
  
.container{
    width: 80%;
    margin: 100px;
}
.help-box{
    background: cornsilk;
    display: flex;
}
.help-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.help-right{
    flex-basis: 40%;
    padding: 40px;
    background: rgb(253, 155, 116);
}
h1{
    margin-bottom: 10px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom:1px solid #ccc;
    outline: none;
    padding-bottom:5px; 
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
button{
    background: darkgray;
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(lightgrey);
}
.help-left h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.help-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
.faq{
    margin-left: 70px;
}
.FAQ{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    font-style: initial;
}
.container1{
    width: 50%;
    max-width: 80rem;
    margin: 0px auto;
    padding: 0px 1.5rem;
    margin-left: auto;
    margin-top: -26px;
}
.accordian-item{
    background-color: #ccc;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(lightgrey);
}
.accordian-link{
    font-size: -0.6rem;
    color: rgba(black);
    text-decoration: none;
    background-color: #ccc;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
.accordian-link i{
    color: black;
    padding: .5rem;
}
.accordian-link .ion-md-remove{
    display: none;
}
.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color:white;
    transition: max-height 650ms;
}
.answer::before{
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: lightslategrey;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.answer p{
    font-size: -0.6rem;
    padding: 2rem;
}
.accordian-item:target .answer{
    max-height: 20rem;
}
.accordian-item:target .accordian-link .ion-md-remove{
    display: block;
}
    


/* CSS for scrollbar */
.scroll-bar {
	height: auto;
	width: auto;
	margin: auto;
  overflow-y:auto;
  overflow-x: hidden;
	max-width: 100%;
}

::-webkit-scrollbar-track
{
	border: 5px solid whitesmoke;
	background-color:whitesmoke;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color:whitesmoke;
}

::-webkit-scrollbar-thumb
{
	background-color:#E0AB9D;
	border-radius: 10px;

}



* {
    margin: 0;
    padding: 0;
    border-radius: 3px;
    outline: none;
  }
  
  .navbar {
    background-color: rgb(42, 43, 43); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(253, 86, 9), white, rgb(3, 134, 3));
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 3px;
    color: rgb(4, 40, 71);
    text-align: center;
    border-bottom: 2px solid rgb(4, 29, 49);
  }
  
  .heading
  {
    text-align: center;
  }
  
  .navbar .row
  {
    display: flex;
    align-items: center;
  }
  
  .icon img{
    width: 130px;
  }
  .endlogo img{
    width: 160px;
    border-radius: 8px;
  }
  
  .logo
  {
    position: absolute;
    top: 5%;
    right: 3%;
  
  }