.navbar {
  background-color: rgb(42, 43, 43);
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 3px;
  color: aliceblue;
}

ul {
  list-style-type: none;
}

* {
  padding: 0;
  outline: none;
}

.container {
  background-color: rgb(238, 238, 238);
  margin: 5px;
  padding: 5px;
  margin-left: 80px;
  margin-right: 80px;
  border: solid 0.5px gray;
}

table {
  text-align: center;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.descrip {
  background-color: rgb(224, 171, 157);
}

.fontsetting {
  padding-top: 10px;
  text-align: center;
  border: solid 0.5px rgb(221, 221, 221);
  margin: 5px;
  padding-bottom: 22px;
}

.fontsetting button {
  width: 80px;
  padding: 2px;
  float: left;
  margin-left: 50px;
  background-color: gray;
  height: 28px;
}

.fontsetting select {
  float: right;
  margin-right: 50px;
  width: 150px;
  padding-left: 50px;
  height: 28px;
}

.lang {
  margin-left: 700px;
}

h3 {
  color: brown;
  margin-left: 98px;
  font-weight: 1;
  padding-top: 10px;
}

.formheading {
  font-weight: bold;
  padding: 18px;
  background-color: rgb(199, 197, 197);
}

.descrip {
  padding: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.form1 button {
  width: 80px;
  padding: 2px;
  margin-left: 50px;
  background-color: gray;
  height: 38px;
  font-size: 20px;
}

input,
textarea {
  max-width: 400px;
  border-radius: 5px;
  padding-left: 3px;
  border: rgb(0, 0, 0, 0.2) solid 1px;
}

/* Footer  */

#footer {
  border-radius: 0px;
  width: 100%;
  height: 35vh;
  background-color: rgb(31, 29, 29);
  color: wheat;
}

#nav-social-img {
  justify-content: center;
  display: flex;
  list-style: none;
  position: relative;
  border-radius: 20px;
  margin-top: 21px;
}

#nav-social-img img {
  width: 50px;
  height: 50px;
  margin-top: 18px;
  margin-right: 18px;
  margin-left: 18px;
  margin-bottom: 25px;
  border-radius: 28px;
}

#nav-copyright {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: -40px;
}

#nav-copyright a{
  color: aliceblue;
  text-shadow: 1px 0.01px 20px rgb(150, 149, 149);
}

#nav-copyright a:hover{
  zoom: 102%;
}

#youtube-logo img{
  width: 65px;
  height: 47px;
  border-radius: 8px;
}

.nav-copyright-item {
  margin: 15px;
}

.nav-copyright-item a {
  text-decoration: none;
}

#margin-line{
  border: 1.5px solid grey;
  border-radius: 10px;
  width: 1200px;
}

#site-copyright{
  margin-top: -10px;
  text-align: center;
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: x-small;
}

#currentupdate{
  text-align: center;
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: x-small;
  position: relative;
  margin-top: -25px;
  color: wheat;
}