
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
	background: #292C35;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
  position: absolute;
  right: 5rem;
  top: 8.5rem;
	height: 22px;
	width: 45px;

	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 0.6px;
	left: 1px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
.fa-moon {
	color: white;
}
.fa-sun {
	color: #f39c12;
  font-size: 12px;

}


@media screen and (max-width:768px)
{
  .label 
  {
    position: absolute;
    right: 2rem;
    top: 6rem;
    height: 20px;
    width: 42px;
  }
  .label .ball {
    position: absolute;
    top: 0.2px;
    left: 0.8px;
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width:575px)
{
  .label 
  {
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    height: 10px;
    width: 22px;
    
  }
  .label .ball {
    position: absolute;
    top: 0.2px;
    left: 0.6px;
    height: 10px;
    width: 10px;
  }

  .fa-moon
  {
    font-size: 4px;
  }
  .fa-moon, .fa-sun {
    font-size: 8px;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(12px);
  }

}

.loader_bg{
  position: fixed;
  z-index: 999999;
  background-image:linear-gradient(-20deg, green 2%, rgb(182, 182, 248) 50%, orangered  );
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader::before, .loader::after{
  content: '';
  border: 1rem solid rgb(155, 155, 238);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader::before{
  animation-delay: .5s;
}
@keyframes loader {
  0%{
    transform: scale(0.3);
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}
.loader1{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: 37%;
}
.loader1::before, .loader1::after{
  content: '';
  border: 1rem solid orangered;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader1 2s linear infinite;
  opacity: 0;
}
.loader1::before{
  animation-delay: .5s;
}
@keyframes loader1 {
  0%{
    transform: scale(0.3);
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.loader2{
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: 52%;
}
.loader2::before, .loader2::after{
  content: '';
  border: 1rem solid green;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader2 2s linear infinite;
  opacity: 0;
}
.loader2::before{
  animation-delay: .5s;
}
@keyframes loader2 {
  0%{
    transform: scale(0.3);
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 0;
  }
}

.head{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.h1{
  position: relative;
  top: calc(50vh - 95px);
  margin-top: 190px;
  color: white;
  text-transform: capitalize;
  font-weight: bolder;
}
.span1{
  color: orangered;
}
.span2{
  color: green;
}
.head h1 {
  overflow: hidden;
  border-right: 0.15em solid #f6b1c3;
  white-space: nowrap;
  letter-spacing: 0.15em;
  font-family: "Open Sans";
  font-size: min(4vw, 90px);
  font-weight: bolder;
  color: white;
  animation: typing 2.3s steps(28, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f6b1c3;
  }
}


/* Home style */

*{ /*universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hindi-heading
{
  font-size: 2.8rem;
}

.english-heading
{
    font-size: 2.4rem;
}

.emblem
{
  position: absolute;
  top: 8%;
  left: 10%;
  width: 150px;
}

@media screen and (max-width:768px)
{
  .hindi-heading
  {
    font-size: 1.8rem;
  }
  .english-heading
  {
    font-size: 1.5rem;
  }
  .emblem
  {
    width: 90px;
    position: absolute;
    top: 10%;
    left: 4%;
  }
}

@media screen and (max-width:575px)
{
  .hindi-heading
  {
    font-size: 1rem;
  }
  .english-heading
  {
    font-size: 0.7rem;
  }
  .emblem
  {
    width: 60px;
    position: absolute;
    top: 8%;
    left: 4%;
  }

}

.main-heading
{
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .header{
    background-image: url('./Images/voteImg.jpg');
    background: linear-gradient(rgba(27, 27, 27, 0.329),rgba(255, 254, 254, 0.329));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.banner{
  text-align: center;
  z-index: 3;
}
.banner_title{
  font-size: 4rem; 
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
  color: rgb(4, 40, 71);
}
@media screen and (max-width:768px) {
  .banner_title{
    font-size: 2.6rem;
    text-shadow: white;
    text-decoration-color: white;
  }
}

@media screen and (max-width:575px) {
  .banner_title{
    font-size: 2rem;
  }
}
.imgs:hover{
  color: #e90fc4;
  background-color: #f3aa21;
  box-shadow: 0 0 10px #f3aa21, 0 0 40px #f3aa21, 0 0 80px #f3aa21;
 
  
}

.butn
{
  margin-top: 51px;
}
.banner_btn{
  text-align: center;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: rgb(6, 30, 58);
  outline: none;
  border: 3px solid rgb(6, 30, 58);
}
.atag{
  font-size: 2rem;
  color:white;
  font-weight: bold;
}
.atag:hover{
  text-decoration: none;
  color: rgb(5, 23, 44);
}
.banner_btn:hover{
  background: linear-gradient(rgba(221, 237, 248, 0.5), rgba(220, 237, 247, 0.5));
  
}

@media screen and (max-width:575px)
{
  .banner_btn{
    padding: 0.6rem 1.8rem;
  }
  .atag{
    font-size: 1.8rem;
  }
}

.video_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}
.video_item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video_switch-container{
  display: none;

}
@media screen and (min-width:768px){
  .video_switch-container{
      display: block;
      position: absolute;
      top:3%;
      right: 3%;
      z-index: 3;
  }
  .video_switch{
      position: relative;
      width: 5rem;
      background: rgb(125, 138, 151);
      color: rgb(14, 13, 13);
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      padding: 0.15rem;
      cursor: pointer;
      border-radius: 0.5rem;
  }
  .video_switch-btn{
      position: absolute;
      top: 0;
      left: 0;
      background:rgb(5, 23, 44);
      color: white;
      height: 100%;
      width: 50%;
      border-radius: 0.5rem;
      transition: all 0.3s ease-out;
  }
  .video_btnSlide{
      left: 50%;
  }
}
/*end of home*/

* {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  outline: none;
}

.navbar {
  background-color: rgb(42, 43, 43); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, rgb(253, 86, 9), white, rgb(3, 134, 3));
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 3px;
  color: rgb(4, 40, 71);
  text-align: center;
  border-bottom: 2px solid rgb(4, 29, 49);
}

.heading
{
  text-align: center;
}

.navbar .row
{
  display: flex;
  align-items: center;
}

.icon img{
  width: 130px;
}
.endlogo img{
  width: 120px;
  border-radius: 8px;
}

.logo
{
  position: absolute;
  top: 5%;
  right: 3%;

}

ul {
  list-style-type: none;
}

.container {
  background-color: rgb(238, 238, 238);
  margin: 5px;
  padding: 5px;
  border: solid 0.5px gray;
}

.conatinerFluid{

  /* border: 2px solid black; */
  width: 73vw;
  padding: 9px;
  margin: auto;
  display: block;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.descrip {
  background-color: rgb(224, 171, 157)
}

.declaration_city{
  margin-bottom: 20px;
}

.fontsetting {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  border: solid 0.5px rgb(221, 221, 221);
  padding-bottom: 22px;
}
.fontsetting button {
  width: 80px;
  padding: 2px;
  float: left;
  margin: 5px;
  background-color: gray;
  height: 28px;
}

.fontsetting select {
  
  margin: 5px;
  /* width: 150px;
  padding-left: 50px; */
  height: 28px;
}
.lang{
  float: right;

}

.note h3{
  padding: 10px;
}


h3 {
  color: brown;
  margin-left: 4px;
  font-weight: 1;
  padding-top: 10px;
}

.formheading {
  font-weight: bold;
  padding: 18px;
  background-color: rgb(199, 197, 197);
}

.descrip {
  padding: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
span{
  margin: 5px 0 px;
}
.select{
  width:auto;
  margin-left:1rem;
}

.radio{
  text-align:justify;
}

xml{
padding: 1rem;
}


.docs{
  font-size: large;
}
.form1 button {
  width: 54px;
  padding: 0px;
  margin-left: 4px;
  margin-top: 8px;
  background-color: gray;
  font-size: 16px;
}

/* Zooom CSS */
.myBtn1{
  width: 138px; height: 35px;
}

.zoomeffect{
  font-size: medium !important;
}
.footZoom{
  height: 100px;
}
.refreshZoom{
 height: 38px;
}

/* .dropdown-toggle{
  width: inherit;
}  */
/* #slct3{
  width: -webkit-fill-available;
} */
/* ends */

input,
textarea {
  max-width: 400px;
  border-radius: 5px;
  padding-left: 3px;
  border: rgb(0, 0, 0, 0.2) solid 1px;
}

.main-section{
  margin:50px 0px 50px 0px;
  border-radius:50% !important;
}

.voter-img{
  background: scroll center url('./Images/voting.jpg');
  background-size: cover;
}

/* CSS for scrollbar */
.scroll-bar {
	height: auto;
	width: auto;
	margin: auto;
  overflow-y:auto;
  overflow-x: hidden;
	max-width: 100%;
}

::-webkit-scrollbar-track
{
	border: 5px solid whitesmoke;
	background-color:whitesmoke;
}

::-webkit-scrollbar
{
	width: 15px;
	background-color:whitesmoke;
}

::-webkit-scrollbar-thumb
{
	background-color:#E0AB9D;
	border-radius: 10px;

}

footer{
  text-align:center;
   height:80px;
    padding-top:3px; 
    background-color: rgb(7, 7, 7);
    color:darkgray;
}


.myBtn{
  text-align: center;
}

.h1, h1{
  font-size: 2rem !important;
}
@media (max-width:1090px){
.navbar{

  flex-direction: column;
  text-align: center;
}

.endlogo{
  display: none;
}
h1{
  margin: 1rem;
}
.icon img{
  margin: 1rem;
}
.docs{
  font-size: medium;
}
.conatinerFluid{

  /* border: 2px solid black; */
  width: 70vw;
  padding: 9px;
  margin: auto;
  display: block;
}
}

@media (max-width:500px) {
  .h1, h1{
    font-size: 1rem !important;
  }
  h1{
    margin: 0rem;
  }
  .icon img{
    margin: 8px;
    width: 68px;
    height: 34px;
  }
  span{
    margin-left: 10px;
  }
  
  .district{
margin: 15px;
  }
  .select{
  margin-top: 5px;

  }

  .docs{
    font-size: x-small;
  }
  .conatinerFluid{

    /* border: 2px solid black; */
    width: 63vw;
    padding: 9px;
    margin: auto;
    display: block;
  }

}
  

.helpdesk
{
  color:rgb(87, 6, 6); 
  font-size: 1.0625em; 
  float: right; 
  position: relative; 
  left: -139px;  font-weight:700; background-color:beige; height: 35px; width:120px; border:whitesmoke; cursor: pointer;transition: .3s;
  
}

