.navbar {
  background-color: rgb(42, 43, 43);
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 3px;
  color: aliceblue;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  outline: none;
}

.container {
  background-color: rgb(238, 238, 238);
  margin: 5px;
  padding: 5px;
  margin-left: 80px;
  margin-right: 80px;
  border: solid 0.5px gray;
}

table {
  text-align: center;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.descrip {
  background-color: rgb(224, 171, 157)
}

.fontsetting {
  padding-top: 10px;
  text-align: center;
  border: solid 0.5px rgb(221, 221, 221);
  margin: 5px;
  padding-bottom: 22px;
}

.fontsetting button {
  width: 80px;
  padding: 2px;
  float: left;
  margin-left: 50px;
  background-color: gray;
  height: 28px;
}

.fontsetting select {
  float: right;
  margin-right: 50px;
  width: 150px;
  padding-left: 50px;
  height: 28px;
}

.lang {
  margin-left: 700px;
  ;
}

h3 {
  color: brown;
  margin-left: 98px;
  font-weight: 1;
  padding-top: 10px;
}

.formheading {
  font-weight: bold;
  padding: 18px;
  background-color: rgb(199, 197, 197);
}

.descrip {
  padding: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.form1 button {
  width: 80px;
  padding: 2px;
  margin-left: 50px;
  background-color: gray;
  height: 38px;
  font-size: 20px;
  display: contents;
}

input,
textarea {
  max-width: 400px;
  border-radius: 5px;
  padding-left: 3px;
  border: rgb(0, 0, 0, 0.2) solid 1px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  margin-left: 110px!important;
  /* width: 75%; /* Full width */ */
  height: 110%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
}

/* .modal-content li{
  font-size: 10px;
} */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn{
   font-size: 20px;
   margin: 1% 0%;
   text-underline: none;
   color: blue;
   display: contents;
}

img {
  height: 80px;
  width: 100px;
}

*, ::after, ::before{
  margin-left: 0.6em;
}

.head{
  text-align: center;
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.6em 0em;
}

.ol{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 13px;
}

.ul {
  font-size: 13px;
  font-weight: normal;
}
